{% extends 'base.html' %}
{% load static %}


{% block 'sliderArea' %}

<!-- slider Area Start-->
<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" style="background-image: url(/static/img/fondo/Productos.jpg); background-size : 100% 100%; background-repeat: no-repeat;
  background-size : cover;">
    </div>
</div>
<!-- slider Area End-->


{% endblock 'sliderArea' %}


{% block 'middleContent' %}

<!----------------------------- JQuery ----------------------------->
<script type="text/javascript" src=" {% static 'diferenciados/sliderProductos/jquery.js' %} "></script>








<div class="whole-wrap" style="margin-top: 50px;">
    <div class="container box_1170">
        <div class="section-top-border">

            {% for p in Encabezado_Producto %}
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                    <h4 style="color: hsl(0, 70%, 41%);"><strong>{{p.título}}</strong></h4>
                </div>

                <div class="col-md-6">
                    <p class="párrafosElegidos">{{p.texto1}}</p>
                    </p>
                </div>

                <div class="col-md-6">
                    <p class="párrafosElegidos">
                        {{p.texto2}} </p>
                    </p>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>
</div>



<!-- +++++++======================================================================================================-->


<div class="allProduct" style="background-color: rgb(235, 229, 229); height: 100%; position: relative;">
    <img src="/static/img/about/300ppp.jpg" alt="" style="width: 100%; height: 350px;">
    <div class="col-md-12">
        <div class="row" style="margin-bottom: -130px !important;">
            <div class="container">
                <div style="position: absolute; top: -320px">
                    {% for descripcion_desarrollados_Aicros in Descripcion_Productos_Aicros %}
                    <h4 style="color: white;">{{descripcion_desarrollados_Aicros.título}}</h4>
                    <p style="margin: 0 auto; text-align: left; width: 75%; margin-top: 50px; color: white;">
                        {{descripcion_desarrollados_Aicros.texto_1}}</p>
                    {% endfor %}
                </div>

                {% for pAicros in Producto_Aicros %}

                <div class="row">
                    <div class="col-md-3"
                        style="background-color: white; margin-right: 10px; top: -90px; height: 100%; border-radius: 8px ; margin-left: 50px; padding: 0; margin-bottom: 100px;">
                        <img src="{{pAicros.foto.url}}" alt="" style=" width:100%; height:100%; border-radius: 8px; ">
                    </div>

                    <div class="col-md-8"
                        style="background-color: white; top: -90px; height: 100%; border-radius: 8px; padding: 50px; margin-bottom: 100px;">

                        <div class="iconosProductos" style="height: 100%; float: right;">
                            <img src="{{pAicros.ícono.url}}" alt="">



                        </div>
                        <h4>{{pAicros.título}}</h4>
                        <p class="párrafosElegidos" style="margin-top: 50px;">{{pAicros.descripción}}</p>
                        <a class="btn" style="padding: 15px !important;"
                            href="{% url 'productos' %}">{{pAicros.nombre_Botón}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- =============================================================================================================-->



<div class="allProduct" style="background-color: rgb(235, 229, 229); height: 100%; position: relative; ">
    <img src="/static/img/about/300ppp.jpg" alt="" style="width: 100%; height: 350px;">
    <div class="col-md-12">
        <div class="row">
            <div class="container">
                <div style="position: absolute; top: -300px">
                    {% for descripcion_productos_Aicros in Descripcion_Productos_Distribuidos %}
                    <h4 style="color: white;">{{descripcion_productos_Aicros.título}}</h4>
                    <p style="margin: 0 auto; text-align: justify; width: 75%; margin-top: 50px; color: white;">
                        {{descripcion_productos_Aicros.texto_1}}</p>
                    {% endfor %}
                </div>

                {% for pDAicros in Producto_Distribuido_Aicros %}
                <div class="row">
                    <div class="col-md-3"
                        style="background-color: white; margin-right: 10px; top: -80px; height: 100%; border-radius: 8px ; margin-left: 50px; padding: 0; margin-bottom: 100px;">
                        <img src="{{pDAicros.foto.url}}" alt="" style=" width:100%; height:100%; border-radius: 8px; ">
                    </div>

                    <div class="col-md-8"
                        style="background-color: white; top: -80px; height: 100%; border-radius: 8px; padding: 50px; margin-bottom: 100px;">

                        <div class="iconosProductos" style="height: 100%; float: right;">
                            <img src="{{pDAicros.ícono.url}}" alt="">
                        </div>

                        <h4>{{pDAicros.título}}</h4>
                        <p class="párrafosElegidos" style="margin-top: 50px;">{{pDAicros.descripción}}</p>
                        <a class="btn" style="padding: 15px !important;"
                            href="{% url 'productos' %}">{{pDAicros.nombre_Botón}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



<!-- ===============================================================================================-->










{% endblock 'middleContent' %}